
.tech {
    width: 50%;
}

.developer {
    width: 50%;
}

.techHeader {
    width: 50%;
    display: flex;
    gap: 6px;
}

.developerHeader {
    display: flex;
    gap: 6px;
}

.row {
    display: flex;
    padding: 12px 18px;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    line-height: 24px;
    border-top: solid 1px #E5E5E5;
    max-width: 606px;
}

.rowHeader {
    display: flex;
    max-width: 606px;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
    background-color: #E5E5E5;
    padding: 12px 18px;

}
.wrapperLoading{
    position: relative;
    max-width: 700px;
}

.wrapper{
    transition: filter 0.3s ease;
}

.loadingActive {
    filter: blur(5px);
}
.loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
