.buttonsContainer {
    /*max-width: 300px;*/
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 24px;
}

.editableSpanContainer {
    max-width: 276px;
    height: 36px;
    margin-bottom: 22px;

}