.buttonsContainer {
    display: flex;
    justify-content: flex-start;
    gap: 21px;
}

.clock {
    display: flex;
    flex-direction: column;
    font-weight: 400;
    font-size: 20px;
    color: #000;
    user-select: none;
}

.watch {
    margin-bottom: 8px;
}

.watch strong {
    font-weight: 600;
}

.more {
    margin-bottom: 27px;
    font-weight: 400;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.5);
}