.App {
    --header_height: 60px;
    margin: 0 auto;
    padding: 20px 10px;
    max-width: 1280px;


}

.hw {
    /*max-width: 1280px;*/
    width: 100%;
    border: 1px solid lightgray;
    padding: 25px;
    margin-bottom: 20px;
}

.hwTitle {
    font-weight: 600;
    font-size: 22px;
    color: #000;
    font-family: 'Montserrat', sans-serif;
}